# Sensitive Environment Variables
server/.env
.env

# Dependencies
node_modules/
frontend/node_modules/
server/node_modules/

# Build files
frontend/dist/
frontend/build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store